@page
@model MyApp.Namespace.listModel
@{
}
<p>Lista de clientes</p>
<table>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
    </tr>
    @foreach (var cliente in Model.Clientes )
    {
        <tr>
            <td>@cliente.Nombre</td>
            <td>@cliente.NumeroTelefonico</td>
        </tr>
    }
</table>