@page
@model MyApp.Namespace.listModel
@{
}
<h1>Lista de Clientes</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Cedula</th>
        <th>Numero Telefonico</th>
    </tr>
    @foreach(var dato in Model.clientesVista){
        <tr>
            <td>dato.Id</td>
            <td>dato.Nombre</td>
            <td>dato.Documento</td>
            <td>dato.NumeroTelefonico</td>
        </tr>
    }
</table>