@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}


@{
/*    Validation.RequireField("cedula", "Cedula es requerido.");
    Validation.RequireField("nombre", "Nombre es requerido.");
    Validation.RequireField("apellido", "Apellido es requerido.");
    Validation.RequireField("telefono", "Telefono es requerido.");
    Validation.RequireField("direccion", "Direccion es requerido.");
    Validation.RequireField("correo", "Correo es requerido.");
    Validation.Add("cedula", Validator.Integer());
    if (IsPost)  {
        var cedula = Request.Form["cedula"];
        var nombre = Request.Form["nombre"];
        var cedula = Request.Form["apellido"];
        var nombre = Request.Form["telefono"];
        var cedula = Request.Form["direccion"];
        var nombre = Request.Form["correo"];
        if(Validation.IsValid()){
            <text>
              You entered: <br />
              cedula Name: @cedula <br />
              nombre Name: @nombre <br />
              apellido Name: @apellido <br />
              telefono Name: @telefono <br />
              direccion Name: @direccion <br />
              correo Name: @correo <br />
            </text>
}
        }
    }*/
<div class="container text-center">
   <div>
      <form method="post">
      <fieldset>
        <legend>Crear cuenta de cliente</legend>

        <div>
          <label for="Cedula">Cedula:</label>
          <input type="text" name="Cedula"
                   />
          
        </div>
        
        <div>
         <label for="Nombre">Nombre:</label>
         <input type="text" name="Nombre"
                 />
         
        </div>
        
        <div>
         <label for="Apellido">Apellido:</label>
         <input type="text" name="Apellido"
                 />
         
        </div>
        
          <div>
        <label for="Telefono">Telefono:</label>
         <input type="text" name="Telefono"
                 />
         
        </div>
        
          <div>
        <label for="Direccion">Direccion:</label>
         <input type="text" name="Direccion"
                 />
         
        </div>
        
          <div>
        <label for="Correo">Correo:</label>
         <input type="text" name="Correo"
                 />
         
        </div>
        <div>
          <label>&nbsp;</label>
          <input type="submit"  />
       
  </form>
   </div>
</div>
